<launch>
<node pkg = "turtlesim" name = "turtlesimulator" type = "turtlesim_node" /> 
ros::Duration(5.0).sleep();
<node pkg = "turtlesim_pkg" name = "package_move" type = "turtlesim_pkg_movement" output = "screen" /> 
ros::Duration(5.0).sleep();
<node pkg = "turtlesim_pkg" name = "rockhard" type = "turtlesim_pkg_rocky" output = "screen" />


</launch>