<launch>

<arg name="node_start_delay" default="0.5" />  
<arg name="node_start_delay2" default="1" /> 
<!--delaying when the nodes start, so they all dont start at the same time, makes it crash if they start at the same time!-->

<node pkg = "turtlesim" name = "turtlesimulator" type = "turtlesim_node"  />

<node pkg = "rps" name = "package_move" type = "movement" output = "screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " /> 

<node pkg = "rps" name = "rockhard" type = "rps" output = "screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' " />

</launch>